/db/database.yml

/dummy-*/.bundle/
/dummy-*/.ruby-version
/dummy-*/config/credentials.yml.enc
/dummy-*/db/*.sqlite3
/dummy-*/db/*.sqlite3-journal
/dummy-*/log/*.log
/dummy-*/tmp/

/dummy-*/app/
/dummy-*/bin/
/dummy-*/doc/
/dummy-*/Gemfile
/dummy-*/lib/
/dummy-*/public/
/dummy-*/Rakefile
/dummy-*/README*
/dummy-*/script/
/dummy-*/test/
/dummy-*/vendor/
